<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <img src="https://supersurvey005.herokuapp.com/images/image_logo.jpg" alt="logo" > </img>


<% include partials/footer.ejs %>
